<div class="container-fluid">
    <h1>All Users</h1>
    <ul class="list-unstyled">
        <li class="media mb-2" *ngFor="let user of users">
            <img class="d-flex mr-3" [src]="user.avatar" alt="{{ user.name }}">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                	<a [routerLink]="['/users', user.id]">{{ user.name }}</a>
                	</h5> 
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, exercitationem!</p>
            </div>
        </li>
    </ul>
</div>
